@keyframes pop-in {
    0% {
      opacity: 0;
      transform: translateY(-4rem) scale(.8);
    }
    100% {
      opacity: 1;
      transform: none;
    }
  }

  .animate-pop-in {
    animation: pop-in .6s ease-out forwards;
    opacity: 0;
  }

  .rocky-dashed {
    animation-delay: .6s;
  }
  
  .header-title {
    animation-delay: .8s;
  }
  
  .header-subtitle {
    animation-delay: 1s;
  }
  
  .header-button {
    animation-delay: 1.1s;
  }

  @keyframes rotate-up {
    100% {
      transform: rotateZ(-4deg);
    }
  }

  header:after {
    animation: rotate-up .5s .5s cubic-bezier(0, 0.5, 0, 1) forwards;
    background: #F9FCFF;
    content: "";
    height: 40rem;
    left: -5%;
    position: absolute;
      right: -5%;
      top: 90%;
    transform-origin: 0 0;
    z-index: 0;
  }

  /* */
  button {
    background: #e5ac8e;
    color: #fff;
    font-size: 14px;
    border-radius: 0.5em;
    padding: 0 1em;
    position: relative;
    overflow: hidden;
    line-height: 32px;
  }

  button::after {
    content: '';
    position: absolute;
    top: -50%;
    right: -50%;
    bottom: -50%;
    left: -50%;
    background: linear-gradient(to bottom, rgba(229, 172, 142, 0), rgba(255,255,255,0.5) 50%, rgba(229, 172, 142, 0));
    transform: rotateZ(60deg) translate(-5em, 7.5em);
  }

  button:hover::after, button:focus::after {
    animation: sheen 1s forwards;
  }

  @keyframes sheen {
    100% {
      transform: rotateZ(60deg) translate(1em, -9em);
    }
  }